@model WSSOAPInsFinanciera.proxyInsFinanciera.Comprobante

@{
    ViewBag.Title = "ValidarInfoPago";
}

<h2>ValidarInfoPago</h2>

<div>
    <h4>Comprobante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aprobacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numAprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numAprobacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
